    </div> <!-- /column (main content) -->
    <div class="col-sm-3">
        <div class="pl-docs-sidebar" data-spy="affix" data-offset-top="60">
            <p class="pl-docs-sidebar-header"><a href="#top">{{header}}</a> <a href="#top"><svg class="icon icon-chevron-up"><use xlink:href="#icon-chevron-up"/></svg></a></p>
            <ul class="nav nav-pills pl-docs-sidenav">
                {{#link}}
                <li>
                    <a href="{{css_id}}">{{nav_header}}</a>
                </li>
                {{/link}}
            </ul>
        </div>
    </div> <!-- /column (sidebar) -->
</div> <!-- /row -->
