<h1><code ng:non-bindable="">btFocusOn</code>
<div><span class="hint">directive in module <code ng:non-bindable="">boomstrap</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="boomstrap-directive-page boomstrap-directive-btfocuson-page"><p>The <code>btFocusOn</code> attribute directive will focus on an input when the expression provided
goes from false to true.  This is helpful when guiding the user through a page.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/ngMineralBay/ng.$timeout">$timeout</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY bt-focus-on="{expression}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>btFocusOn</td><td><a href="" class="label type-hint type-hint-expression">expression</a></td><td><div class="boomstrap-directive-page boomstrap-directive-btfocuson-page"><p>Expression that will be evaluated to truthy or falsey.
If this expression goes from falsey to truthy, focus will be placed on the element</p>
</div></td></tr></tbody></table></div>
</div>
