<h1><code ng:non-bindable="">btArrowScroll</code>
<div><span class="hint">directive in module <code ng:non-bindable="">boomstrap</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="boomstrap-directive-page boomstrap-directive-btarrowscroll-page"><p>The <code>btArrowScroll</code> attribute directive will direct all arrow key events to a specific element.
This is useful for modals in certain browsers.  Be careful using this as it will always be activated
so long as the element exists on the page.  Combine with ng-if to programmatically kill this functionality.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/ngMineralBay/ng.$window">$window</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY bt-arrow-scroll&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
