<h1><code ng:non-bindable="">btPager</code>
<div><span class="hint">directive in module <code ng:non-bindable="">boomstrap</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="boomstrap-directive-page boomstrap-directive-btpager-page"><p>The <code>btPager</code> directive is a wrapper of the ui-bootstrap pagination directive that keeps
track of what page we are on and programmatically disable or enable pagination based on such.
It is wrapping the directive so that we can provide our own template.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;bt-pager
       total-items="{Number}"
       current-page="{Number}"
       items-per-page="{Number}"&gt;
&lt;/bt-pager&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>totalItems</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="boomstrap-directive-page boomstrap-directive-btpager-page"><p>The number of items to paginate through.</p>
</div></td></tr><tr><td>currentPage</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="boomstrap-directive-page boomstrap-directive-btpager-page"><p>The number of the current page we are on.</p>
</div></td></tr><tr><td>itemsPerPage</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="boomstrap-directive-page boomstrap-directive-btpager-page"><p>How many items are allowed on each page.</p>
</div></td></tr></tbody></table></div>
</div>
