<h1><code ng:non-bindable="">btNumber</code>
<div><span class="hint">directive in module <code ng:non-bindable="">boomstrap</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="boomstrap-directive-page boomstrap-directive-btnumber-page"><p>The <code>btNumber</code> attribute directive formats the ngModel&#39;s data to only
allow numbers.  This is good for inputs where you don&#39;t want the user to type anything but a number.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/ngMineralBay/ngModel">ngModel</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY bt-number&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
