<h1><code ng:non-bindable="">btNgModelOnBlur</code>
<div><span class="hint">directive in module <code ng:non-bindable="">mineralbay</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="mineralbay-directive-page mineralbay-directive-btngmodelonblur-page"><p>The <code>btNgModelOnBlur</code> attribute directive when used with an input will only update the
ngModel when the user has left focus of the input or pressed the enter key. This directive will be
made redundant with the ngModelOptions directive in Angular 1.3</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/ngMineralBay/ngModel">ngModel</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY bt-ng-model-on-blur&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
