<h1><code ng:non-bindable="">btScore</code>
<div><span class="hint">directive in module <code ng:non-bindable="">mineralbay</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="mineralbay-directive-page mineralbay-directive-btscore-page"><p>The <code>btScore</code> directive represents a score component from Mineralbay.  It will keep the color
and size up to date based on what is specified.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;bt-score
       score="{Number}"
       size="{string}"&gt;
&lt;/bt-score&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>score</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="mineralbay-directive-page mineralbay-directive-btscore-page"><p>The score to present in the component.  Classes will be added to the element to
color a score element based on how high or low the score is.  Excellent score (99-76); Good score (75-56);
Average score (50-26); Default score (25-0)</p>
</div></td></tr><tr><td>size</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="mineralbay-directive-page mineralbay-directive-btscore-page"><p>The size of the score. Valid sizes include: <code>xs</code> (extrasmall), <code>sm</code> (small), and <code>lg</code> (large).
If no size is specified, the score will be of medium size.</p>
</div> <p><em>(default: '')</em></p></td></tr></tbody></table></div>
</div>
