<h1><code ng:non-bindable="">btLockBody</code>
<div><span class="hint">directive in module <code ng:non-bindable="">mineralbay</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="mineralbay-directive-page mineralbay-directive-btlockbody-page"><p>The <code>btLockBody</code> attribute directive will prevent the body from scrolling whenever
the element this directive is attached to exists.  This is used for an older version of Angular
Bootstrap in which invoking a modal would not lock the body from scrolling.  Use ng-if with this
directive to make sure the body is not locked all of the time.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/ngMineralBay/ng.$document">$document</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/ngMineralBay/ng.$window">$window</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY bt-lock-body&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
