<h1><code ng:non-bindable="">btScrollbar</code>
<div><span class="hint">directive in module <code ng:non-bindable="">mineralbay</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="mineralbay-directive-page mineralbay-directive-btscrollbar-page"><p>The <code>btScrollbar</code> directive adds a simulated scrollbar to any element.  It wraps the jQuery baron library.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;bt-scrollbar&gt;
&lt;/bt-scrollbar&gt;</pre>
as attribute<pre class="prettyprint linenums">&lt;ANY bt-scrollbar&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
