@color_1: #333;
@color_2: #998;
@color_3: #0086B3;
@color_4: navy;
@color_5: #099;
@color_6: #458;
@color_7: #900;
@color_8: teal;
@color_9: #d14;
@color_10: #009926;
@font_family_1: Consolas, 'Liberation Mono', Courier, monospace;

/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
	border: 1px solid #ccc;
	word-wrap: break-word;
	padding: 6px 10px;
	line-height: 19px;
	margin-bottom: 20px;
	font-family: @font_family_1;
	color: @color_1;
	background: #f8f8f8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	code {
		border: 0;
		padding: 0;
		margin: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		font-size: 13px;
	}
	.comment {
		color: @color_2;
	}
	.support {
		color: @color_3;
	}
	.tag {
		color: @color_4;
	}
	.tag-name {
		color: @color_4;
	}
	.keyword {
		font-weight: bold;
	}
	.css-property {
		font-weight: bold;
		color: @color_1;
	}
	.vendor-prefix {
		font-weight: bold;
		color: @color_1;
	}
	.sass {
		font-weight: bold;
	}
	.class {
		font-weight: bold;
	}
	.id {
		font-weight: bold;
	}
	.css-value {
		font-weight: bold;
		color: @color_1;
	}
	.entity.function {
		font-weight: bold;
		color: @color_7;
	}
	.storage.function {
		font-weight: bold;
	}
	.support.namespace {
		color: @color_1;
	}
	.constant.numeric {
		font-weight: normal;
		color: @color_5;
	}
	.keyword.unit {
		font-weight: normal;
		color: @color_5;
	}
	.hex-color {
		font-weight: normal;
		color: @color_5;
	}
	.entity.class {
		color: @color_6;
	}
	.entity.id {
		color: @color_7;
	}
	.attribute {
		color: @color_8;
	}
	.variable {
		color: @color_8;
	}
	.string {
		font-weight: normal;
		color: @color_9;
	}
	.support.value {
		font-weight: normal;
		color: @color_9;
	}
	.regexp {
		color: @color_10;
	}
}
code {
	border: 1px solid #eaeaea;
	margin: 0 2px;
	padding: 0 5px;
	font-size: 12px;
	font-family: @font_family_1;
	color: @color_1;
	background: #f8f8f8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
