<!-- ================================== Callouts ================================== -->

<!-- Callouts (Mineralbay Custom) -->

<div class="pl-docs-section">
  <h1 id="callouts" class="page-header">Callouts</h1>

  <p>Use these to callout important information or display messages.</p>
  <div class="pl-example">
    <div class="callout callout-attention">
      <h4>Callout Attention</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.</p>
    </div>
    <div class="callout callout-success">
      <h4>Callout Success</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.</p>
    </div>
    <div class="callout callout-info">
      <h4>Callout Info</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.</p>
    </div>
    <div class="callout callout-warning">
      <h4>Callout Warning</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.</p>
    </div>
    <div class="callout callout-danger">
      <h4>Callout Danger</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.</p>
    </div>
  </div><!-- /example -->
  <div class="pl-code"><pre class="prettyprint"><code>&lt;div class="callout callout-attention"&gt;
  &lt;h4&gt;Callout Attention&lt;/h4&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.&lt;/p&gt;
&lt;/div&gt;

&lt;div class="callout callout-success"&gt;
  &lt;h4&gt;Callout Success&lt;/h4&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.&lt;/p&gt;
&lt;/div&gt;

&lt;div class="callout callout-info"&gt;
  &lt;h4&gt;Callout Info&lt;/h4&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.&lt;/p&gt;
&lt;/div&gt;

&lt;div class="callout callout-warning"&gt;
  &lt;h4&gt;Callout Warning&lt;/h4&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.&lt;/p&gt;
&lt;/div&gt;

&lt;div class="callout callout-danger"&gt;
  &lt;h4&gt;Callout Danger&lt;/h4&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante.&lt;/p&gt;
&lt;/div&gt;</code></pre>
  </div>

  <h2 id="callout-links">Links in callouts</h2>
  <p>Use the <code>.callout-link</code> utility class to quickly provide matching colored links within any callout.</p>
  <div class="pl-example">
    <div class="callout callout-danger">
      <h4>Callout Danger</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante. <a href="#" class="callout-link">I'm a callout link</a>.</p>
    </div>
  </div><!-- /example -->
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;div class="callout callout-danger"&gt;
  &lt;h4&gt;Callout Danger&lt;/h4&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus neque vel felis vehicula gravida. Aenean massa velit, bibendum nec convallis eu, imperdiet eu ante. &lt;a href="#" class="callout-link"&gt;I'm a callout link&lt;/a&gt;.&lt;/p&gt;
&lt;/div&gt;</code></pre>
  </div>
</div>