<section id="actionbuttons">
    <div class="page-header">
        <h1>Action Buttons<small> (<a href="https://www.nngroup.com/articles/ok-cancel-or-cancel-ok/" target="_blank">NNGroup</a>, <a href="https://uxplanet.org/designing-more-efficient-forms-structure-inputs-labels-and-actions-e3a47007114f" target="_blank">UXPlanet</a>, <a href="http://www.uxmatters.com/mt/archives/2012/05/7-basic-best-practices-for-buttons.php" target="_blank">UXMatters</a>)</small></h1>
    </div>

    <p>When clicked, these buttons trigger an action such as submitting the form.</p>
    
    <h3>Visual Appearance</h3>
    <p>Make sure action buttons look like buttons—with a bit of shading on their surface or around their edges to make them stand out from the background and look clickable. For more information about button you can read article <a href="https://uxplanet.org/button-ux-design-best-practices-types-and-states-647cf4ae0fc6#.g2spn689u" target="_blank">Button UX Design: Best Practices, Types and States</a></p>
   
   	 <div class="row">
	<div class="col-md-6 text-right">
	<img src="images/usability/noButton.png">
		<figcaption class="imageCaption">Image credit:&nbsp;<a href="http://www.uxmatters.com/mt/archives/2012/05/7-basic-best-practices-for-buttons.php" target="_blank">UXMatters</a></figcaption>
	</div>
	<div class="col-md-6 text-left">
	<img src="images/usability/Button.png">
		<figcaption class="imageCaption">Image credit:&nbsp;<a href="http://www.uxmatters.com/mt/archives/2012/05/7-basic-best-practices-for-buttons.php" target="_blank">UXMatters</a></figcaption>
	</div>
	</div>
	<h3>Visual Feedback</h3>
	<p>You should design your submit button in a way that it should clearly indicate that the form is being processed after user’s action. This provides feedback to the user whilst also avoiding double posts.</p>
	
	<h3>Primary vs Secondary Actions</h3>
	<p>Lack of visual distinction between primary and secondary actions can easily lead to failure. Reducing the visual prominence of secondary actions minimizes the risk for potential errors and further directs people toward a successful outcome.</p>
   
   <div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/primaryVSsecondary.gif">
<figcaption class="imageCaption">Image credit:&nbsp;<a href="https://uxplanet.org/designing-more-efficient-forms-structure-inputs-labels-and-actions-e3a47007114f" target="_blank">UXPlanet</a></figcaption>
	</div></div>
	
	<h3>Button Location</h3>
	<div class="callout callout-warning">
	<p>On a Web page, it’s all about knowing what catches your users’ attention and inspires them to action.</p>
	</div>
	<div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/buttonLocation.png">
<figcaption class="imageCaption">A black Next button hidden in a footer. Image credit:&nbsp;<a href="http://www.uxmatters.com/mt/archives/2012/05/7-basic-best-practices-for-buttons.php" target="_blank">UXMatters</a></figcaption>
	</div></div>
	

	<h4>OK-Cancel or Cancel-OK?</h4>
	<p>Both are reasonable choices, and people can argue for hours about their preferences:</p>
	<ul>
		<li>Listing OK first supports the natural reading order in English and other languages that read left-to-right. Many other button sets have a natural progression (say, Yes/No or Previous/Next). You should always list these so that the reading order matches the logical order — in this case, OK/Cancel . Further, assuming users need OK much more frequently than Cancel, it's better to place this option first so that keyboard-driven users who tab to the buttons can get to their preferred choice with one less keystroke.</li>
		</br>
		<li>Listing OK last improves the flow, because the dialog box "ends" with its conclusion. Also, as with Previous/Next, you could argue that OK is the choice that moves the user forward, whereas Cancel moves the user back. Thus, OK should be in the same location as Next: on the right.</li>
	</ul>
	In cases like this, it often doesn't matter what you do.Following platform conventions is more important than suboptimizing an individual dialog box.
	
	<h3>Put buttons in a sensible order</h3>
	<p>If the primary action button needs to be where users look next, where should the other buttons go?
You should tuck the other buttons away somewhere users won’t stumble upon them too easily.</p>
	 <div class="row">
	<div class="col-md-6 text-right"><img src="images/usability/surveyWrong.png" style="max-width:100%; max-height:100%;"><figcaption class="imageCaption">A survey page with the Previous button on the right. Image credit:&nbsp;<a href="http://www.uxmatters.com/mt/archives/2012/05/7-basic-best-practices-for-buttons.php"  target="_blank">UXMatters</a></figcaption>
	</div>
	<div class="col-md-6 text-left"><img src="images/usability/surveyRight.png" style="max-width:100%; max-height:100%;"><figcaption class="imageCaption">Rearranging the survey page, putting Previous on the left. Image credit:&nbsp;<a href="http://www.uxmatters.com/mt/archives/2012/05/7-basic-best-practices-for-buttons.php" target="_blank">UXMatters</a></figcaption>
	</div>
	</div>
	
	<h3>Naming Conventions</h3>
	<p>Avoid generic words such as “Submit” for actions, because they give the impression that the form itself is generic. Instead state what actions the buttons do when clicked, such as ‘Create my FREE account’ or ‘Send me weekly offers’.</p>
   	<div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/namingConvention.png">
	<figcaption class="imageCaption">Image credit:&nbsp;<a href="http://uxmovement.com/forms/why-your-form-buttons-should-never-say-submit/" target="_blank">UXMovement</a></figcaption>
	</div></div>
	
	<div class="callout callout-warning">
	<h3>Multiple Action Buttons</h3>	
	<p>Avoid multiple action buttons since it might distract users from the goal (submitting the form).</p>
	</div>
	
	<div class="callout callout-danger">
	<h3>Reset: Don't Use</h3>
	<p>Don't use a reset button. The web would be a happier place if virtually all Reset buttons were removed. This button almost never helps users, but often hurts them.</p>
   	</br>
   </div>

	<div class="callout callout-warning">
	<h3>Cancel: Use Sparingly</h3>	
	<p>The Web is not an application environment, and it usually doesn't have dialog boxes. Instead, the Web is a navigation environment where users move between pages of information. Since hypertext navigation is the dominant user behavior, users have learned to rely on the Back button for getting out of unpleasant situations. Whenever users arrive at pages they don't want, they slam their mouse directly onto the Back button.</p>
	<p>Cancel is mainly useful for multi-step dialogs where the user has progressed past one or more pages with actions. At this time, pressing the Back button will not undo these actions and it would be better if the user would click Cancel.</p>
	</div>
	
   
</section>