<section id="inputFields">
    <div class="page-header">
        <h1>Input Fields<small>(<a href="https://www.nngroup.com/articles/web-form-design/" target="_blank">NNGroup</a>, <a href="https://uxplanet.org/designing-more-efficient-forms-structure-inputs-labels-and-actions-e3a47007114f" target="_blank">UXPlanet</a>)</small></h1>
    </div>
    
   <h3>Number of Fields</h3>
	<p>Try to minimize the number of fields as much as possible. This makes your form less loaded, especially when you request a lot of information from your users. However don’t over do it, no one likes a three field form that turns into a 30 field interrogation.</p>
	<div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/numberFields.png">
	<figcaption class="imageCaption">Combine multiple fields in one easy-to-fill field. Image credits:&nbsp;<a href="https://uxplanet.org" data-href="https://uxplanet.org" target="_blank">UXPlanet</a></figcaption>
	</div></div>
	

	<h3>Mandatory vs Optional</h3>
	<p>Try to avoid optional fields in forms. But if you use them, you should at least clearly distinguish which input fields cannot be left blank by the user. The convention is to use an asterisk (*) or ‘optional’ (which is a preferable for long forms with multiple required fields)</p>
	<div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/optional_mandatory.jpeg">
	<figcaption class="imageCaption">Mailchimp subscribe to mailing list form. Image credits:&nbsp;<a href="https://uxplanet.org" data-href="https://uxplanet.org" class="markup--anchor markup--figure-anchor" rel="noopener" target="_blank">UXPlanet</a></figcaption>
	</div></div>
	
	<h3>Setting Default Values</h3>
	<p>You should avoid having a static default unless you believe a large portion of your user’s (e.g. 90%) will select that value. Particularly if it’s a required field. Why? Because you’re likely to introduce errors because people scan forms quickly online — don’t assume they will take the time to parse through all the choices. They simply may blithely skip by something that already has a value.
But smart defaults can make the user’s completion of the form faster and more accurate. For example, pre-select the user’s country based on their geo location data. But still you should use these with caution, because users tend to leave pre-selected fields as they are.
	</p>
	<div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/preSelected.png">
	<figcaption class="imageCaption">Intelligently pre-selected country in the checkout form. Image credits:&nbsp;<a href="https://uxplanet.org" data-href="https://uxplanet.org" class="markup--anchor markup--figure-anchor" rel="noopener" target="_blank">UXPlanet</a></figcaption>
	</div></div>
	
	<h3>Desktop-only: Make Form Keyboard-friendly</h3>
	<p>Users should be able to trigger and edit every field using only the keyboard. Power users, who tend to use keyboards heavily, should be able to easily tab through the fields and make necessary edits, all without lifting their fingers off the keyboard. You can find detailed requirements for keyboard interaction pattern in <a href="http://www.w3.org/TR/wai-aria-practices/#aria_ex" data-href="http://www.w3.org/TR/wai-aria-practices/#aria_ex" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">W3C’s Authoring Practices for Design Patterns</a></p>
	
	<h3>Desktop-only: Autofocus for Input Field</h3>
	<p>Autofocusing a field gives the users an indication and a starting point to quickly begin to fill out the form. You should provide a clear visual ‘notification’ that the focus has moved there — change color, fade in a box, flash in an arrow, whatever. Amazon registration form has both autofocus and visual notification for the user.</p>
	<div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/amzon.png">
	</div></div>	  
	
	<h3>Mobile-only: Match the Keyboard With the Required Text Inputs</h3>
	<p>App users appreciate apps that provide an appropriate keyboard for text entry. Ensure that this is implemented consistently throughout the app rather than only for certain tasks but not others.</p>
	<div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/mobileInputFields.png">
	</div></div>	
	
	<h3>Explain any input or formatting requirements.</h3>
	<p>If a field requires a specific format or type of input, state the exact instructions. Don’t make users guess your obscure password requirements. The same applies to syntax rules such as punctuation or spacing for phone numbers or credit cards. (Though as much as possible you should eliminate these arbitrary formatting rules: death to parentheses for phone-number area codes!)</p>
    
    
</section>