<section id="labels">
    <div class="page-header">
        <h1>Labels<small> (<a href="https://www.nngroup.com/articles/form-design-white-space/" target="_blank">NNGroup</a>, <a href="https://uxplanet.org/designing-more-efficient-forms-structure-inputs-labels-and-actions-e3a47007114f" target="_blank">UXPlanet</a>, <a href="https://uxplanet.org/designing-more-efficient-forms-structure-inputs-labels-and-actions-e3a47007114f" target="_blank">UXMatters</a>)</small></h1>
    </div>
    
   <h3>Number of Words</h3>
   <p>Labels are not help texts. You should use succinct, short and descriptive labels (a word or two) so users can quickly scan your form. Previous version of the Amazon registration form contained a lot of extra words which resulted in slow completion rates.
   </p>
   
   <div class="row">
	<div class="col-md-6 text-right"><img src="images/usability/labelLongText.png" style="max-width:100%; max-height:100%;"><figcaption class="imageCaption">Example of labels with too much text. Image credit:&nbsp;<a href="https://uxplanet.org"  target="_blank">UXPlanet</a></figcaption>
	</div>
	<div class="col-md-6 text-left"><img src="images/usability/labelShortText.png" style="max-width:100%; max-height:100%;"><figcaption class="imageCaption">Current version is much better and has short labels. Image credit:&nbsp;<a href="https://uxplanet.org" target="_blank">UXPlanet</a></figcaption>
	</div>
	</div>
	
	<h3>Sentence Case vs Title Case</h3>
	<p>Should it be “Full Name” or “Full name”? Sentence case is slightly easier (and thus faster) for reading than title case. But one thing for sure — you should never use all caps, or else the form would be difficult to read and much harder to quickly scan, as there are no differences in character height any more.</p>

	<h3>Alignment of Labels: Left vs Right Aligned vs Top</h3>
	<p>Matteo Penzo’s 2006 <a href="http://www.uxmatters.com/mt/archives/2006/07/label-placement-in-forms.php" target="_blank">article</a> on label placement implies that forms are completed faster if the labels are on top of the fields. They are good if you want users to eye-scan the form as fast as possible.</p>
	 <div class="row">
	<div class="col-md-12 text-center">
	<img src="images/usability/labelAlignment.jpeg" style="max-width:100%; max-height:100%;"><figcaption class="imageCaption">Left-aligned labels, right-aligned labels and top labels. Image credits::&nbsp;<a href="http://www.uxmatters.com/mt/archives/2006/07/label-placement-in-forms.php"  target="_blank">UXMatters</a></figcaption>
	</div>
	</div>
	</br>
	<p>However further research mentioned <a href="http://www.slideshare.net/cjforms/labels-and-buttons-on-forms" target="_blank">found</a> no difference between labels above the fields and right-aligned labels.</p>

	<div class="row">
	<div class="col-md-12 text-center"><img src="images/usability/topAligned.png" style="max-width:100%; max-height:100%;"><figcaption class="imageCaption">Image credit:&nbsp;<a href="https://css-tricks.com/label-placement-on-forms/"  target="_blank">CSSTricks</a></figcaption>
	</div>
	</div>
	
	<div class="row">
	<div class="col-md-12 text-center"><img src="images/usability/leftAligned.png" style="max-width:100%; max-height:100%;"><figcaption class="imageCaption">Image credit:&nbsp;<a href="https://css-tricks.com/label-placement-on-forms/"  target="_blank">CSSTricks</a></figcaption>
	</div>
	</div>
	
	<div class="row">
	<div class="col-md-12 text-center"><img src="images/usability/rightAligned.png" style="max-width:100%; max-height:100%;"><figcaption class="imageCaption">Image credit:&nbsp;<a href="https://css-tricks.com/label-placement-on-forms/"  target="_blank">CSSTricks</a></figcaption>
	</div>
	</div>
	
</section>