<section id="navbar">
<div ng-controller="NavBarDemoCtrl">
<script type="text/javascript">
  angular.module('mineralbay').controller('NavBarDemoCtrl', ['$scope','$http', function ($scope) {
	  
	  $scope.language = 'English';
  
  	  $scope.change = function(name){
      $scope.language = name;
  		}}]);
  
</script>
    <div class="page-header">
        <h1>Static Navbar<small></small></h1>
    </div>
    
<style>
  .horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }
 
.navbar-default .navbar-nav > li > a:hover  {
  color: #333;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: #e7e7e7;
}
  
</style>

<div class="panel panel-default">

      <!-- Tabs -->
      <ul class="nav nav-tabs panel__nav-tabs bg-gray-lightest" role="tablist">
      <li class="active"><a href="#panel-tab-0" role="tab" data-toggle="tab">Preview</a></li>
        <li ><a href="#panel-tab-1" role="tab" data-toggle="tab">Markup</a></li>
        <li><a href="#panel-tab-2" role="tab" data-toggle="tab">Javascript</a></li>
        <li><a href="#panel-tab-3" role="tab" data-toggle="tab">CSS</a></li>
      </ul>
      <div class="panel-body">
        <div class="tab-content">
          <!-- Tab Panes -->
          <div class="tab-pane fade in active" id="panel-tab-0">
          
      <nav class="navbar navbar-default" style="background: radial-gradient(#7f0001, #b20001);">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand" >
  		<img class="navbar-brand-logo" src="images/logo_whiteback.png" onmouseover="this.src='images/logo_hover_whiteback.png'" onmouseout="this.src='images/logo_whiteback.png'">
		</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a style="padding-top: 45px; color:#fff" href="#" onmouseover="this.style.color='#555';" onmouseout="this.style.color='#fff';">Link <span class="sr-only">(current)</span></a></li>
            <li><a style="padding-top: 45px; color:#fff" href="#" onmouseover="this.style.color='#555';" onmouseout="this.style.color='#fff';">Link</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a style="padding-top: 45px; color:#fff" href="#" onmouseover="this.style.color='#555';" onmouseout="this.style.color='#fff';" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> [[language]] <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="menuitem"> <a href="#" ng-click="change('Deutsch')">Deutsch</a></li>
                <li role="menuitem"> <a href="#" ng-click="change('English')">English</a></li>
              </ul>
            </li>
            <li><a style="padding-top: 45px; color:#fff"" href="#" onmouseover="this.style.color='#555';" onmouseout="this.style.color='#fff';"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>





	</br></br></br>

	<nav class="navbar navbar-default" style="background: radial-gradient(#7f0001, #b20001);">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand" >
  		<img class="navbar-brand-logo" src="images/logo_whiteback.png" onmouseover="this.src='images/logo_hover_whiteback.png'" onmouseout="this.src='images/logo_whiteback.png'">
		</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a style="padding-top: 45px; color:#fff; background-color: transparent;" href="#" onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';" class="navbar-link"><span class="glyphicon glyphicon-user"></span> Mark Otto</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          
            <li class="dropdown">
              <a style="padding-top: 45px; color:#fff" href="#" onmouseover="this.style.color='#555';" onmouseout="this.style.color='#fff';" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> [[language]] <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="menuitem"> <a href="#" ng-click="change('Deutsch')">Deutsch</a></li>
                <li role="menuitem"> <a href="#" ng-click="change('English')">English</a></li>
              </ul>
            </li>
            
            <li><a style="padding-top: 45px; color:#fff" href="#" onmouseover="this.style.color='#555';" onmouseout="this.style.color='#fff';"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
          
          </div>
          <div class="tab-pane fade" id="panel-tab-1">
             <pre><code data-language="html">&lt;nav class=&quot;navbar navbar-default&quot; style=&quot;background: radial-gradient(#7f0001, #b20001);&quot;&gt;
      &lt;div class=&quot;container-fluid&quot;&gt;
        &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
        &lt;div class=&quot;navbar-header&quot;&gt;
          &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#bs-example-navbar-collapse-1&quot;&gt;
            &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
          &lt;/button&gt;
          &lt;a href=&quot;#&quot; class=&quot;navbar-brand&quot; &gt;
  		&lt;img class=&quot;navbar-brand-logo&quot; src=&quot;images/logo_whiteback.png&quot; onmouseover=&quot;this.src='images/logo_hover_whiteback.png'&quot; onmouseout=&quot;this.src='images/logo_whiteback.png'&quot;&gt;
		&lt;/a&gt;
        &lt;/div&gt;

        &lt;!-- Collect the nav links, forms, and other content for toggling --&gt;
        &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;bs-example-navbar-collapse-1&quot;&gt;
          &lt;ul class=&quot;nav navbar-nav&quot;&gt;
            &lt;li&gt;&lt;a style=&quot;padding-top: 45px; color:#fff&quot; href=&quot;#&quot; onmouseover=&quot;this.style.color='#555';&quot; onmouseout=&quot;this.style.color='#fff';&quot;&gt;Link &lt;span class=&quot;sr-only&quot;&gt;(current)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a style=&quot;padding-top: 45px; color:#fff&quot;&quot; href=&quot;#&quot; onmouseover=&quot;this.style.color='#555';&quot; onmouseout=&quot;this.style.color='#fff';&quot;&gt;Link&lt;/a&gt;&lt;/li&gt;
            
          &lt;/ul&gt;
          &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
          &lt;li&gt;&lt;a style=&quot;padding-top: 45px; color:#fff&quot;&quot; href=&quot;#&quot; onmouseover=&quot;this.style.color='#555';&quot; onmouseout=&quot;this.style.color='#fff';&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-log-in&quot;&gt;&lt;/span&gt; Login&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;dropdown&quot;&gt;
              &lt;a style=&quot;padding-top: 45px; color:#fff&quot;&quot; href=&quot;#&quot; onmouseover=&quot;this.style.color='#555';&quot; onmouseout=&quot;this.style.color='#fff';&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; role=&quot;button&quot; aria-expanded=&quot;false&quot;&gt; {{language}} &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;&lt;/a&gt;
              &lt;ul class=&quot;dropdown-menu&quot; role=&quot;menu&quot;&gt;
                &lt;li role=&quot;menuitem&quot;&gt; &lt;a href=&quot;#&quot; ng-click=&quot;change('Deutsch')&quot;&gt;Deutsch&lt;/a&gt;&lt;/li&gt;
                &lt;li role=&quot;menuitem&quot;&gt; &lt;a href=&quot;#&quot; ng-click=&quot;change('English')&quot;&gt;English&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/nav&gt;</code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="panel-tab-2">
            <pre ng-non-bindable><code data-language="javascript">angular.module('mineralbay').controller('NavBarDemo', ['$scope','$http', function ($scope) {
	  $scope.language = 'English';
	  
	  $scope.change = function(name){
	  		$scope.language = name;
	  		}

      }]);</code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="panel-tab-3"><pre ng-non-bindable><code data-language="css">
  .horizontal-collapse {
    height: 70px;
  }
  .navbar-collapse.in {
    overflow-y: hidden;
  }
 
.navbar-default .navbar-nav &gt; li &gt; a:hover  {
  color: #333;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav &gt; li &gt; a:focus {
  color: #333;
  background-color: #e7e7e7;
}

          </code></pre></div> <!-- end tab-pane -->
        </div> <!-- end tab-content -->
      </div> <!-- end panel-body -->
    </div> <!-- end panel -->
  
</div>
</section>