<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button">
        <span class="pull-left" ng-bind="selectedValue"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" ng-style="{ 'min-width': dropdownWidth + 'px'}">
        <li ng-repeat="value in arrayValues" ng-if="keysAreNumbers">
            <a ng-click="assignValue(value.key)">{{ value.value }}</a>
        </li>
        <li ng-repeat="(choiceValue, choiceName) in values" ng-if="!keysAreNumbers">
            <a ng-click="assignValue(choiceValue)">{{choiceName}}</a>
        </li>
    </ul>
</div>