<!-- ================================== Links ================================== -->


<div class="pl-docs-section">
  <h1 id="links" class="page-header">Links</h1>
  <h2>Default links</h2>
  <p>Default link and links with contextual colors.</p>
  <div class="pl-example">
    <p><a href="">Default link</a></p>
    <br>
    <p><a href="" class="text-muted">Link text muted</a></p>
    <p><a href="" class="text-primary">Link text primary</a></p>
    <p><a href="" class="text-success">Link text success</a></p>
    <p><a href="" class="text-info">Link text info</a></p>
    <p><a href="" class="text-warning">Link text warning</a></p>
    <p><a href="" class="text-danger">Link text danger</a></p>
    <p><a href="" class="text-attention">Link text attention</a></p>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;a href=""&gt;Default anchor tag&lt;/a&gt;
&lt;a href="" class="text-muted"&gt;Anchor tag text muted&lt;/a&gt;
&lt;a href="" class="text-primary"&gt;Anchor tag text primary&lt;/a&gt;
&lt;a href="" class="text-success"&gt;Anchor tag text success&lt;/a&gt;
&lt;a href="" class="text-info"&gt;Anchor tag text info&lt;/a&gt;
&lt;a href="" class="text-warning"&gt;Anchor tag text warning&lt;/a&gt;
&lt;a href="" class="text-danger"&gt;Anchor tag text danger&lt;/a&gt;
&lt;a href="" class="text-attention"&gt;Anchor tag text attention&lt;/a&gt;</code></pre>
  </div>

  <h2>Clickable links</h2>
  <p>Sometimes we want anchor tag styles without the anchor tag markup. Use <code>.clickable</code> instead.</p>
  <div class="pl-example">
    <p>Hello there! Visit the <span class="clickable">BoomTown website</span> to learn more about our company!</p>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;p&gt;Hello there! Visit the &lt;span class="clickable"&gt;BoomTown website&lt;/span&gt; to learn more about our company!&lt;/p&gt;</code></pre>
  </div>
  <p>Default clickable and use with contextual colors.</p>
  <div class="pl-example">
    <p class="clickable">Default clickable</p>
    <br>
    <p class="clickable text-muted">Clickable text muted</p>
    <p class="clickable text-primary">Clickable text primary</p>
    <p class="clickable text-success">Clickable text success</p>
    <p class="clickable text-info">Clickable text info</p>
    <p class="clickable text-warning">Clickable text warning</p>
    <p class="clickable text-danger">Clickable text danger</p>
    <p class="clickable text-attention">Clickable text attention</p>
  </div>
  <div class="pl-code">
    <pre class="prettyprint"><code>&lt;p class="clickable"&gt;Default clickable&lt;/p&gt;
&lt;p class="clickable text-muted"&gt;Clickable text muted&lt;/p&gt;
&lt;p class="clickable text-primary"&gt;Clickable text primary&lt;/p&gt;
&lt;p class="clickable text-success"&gt;Clickable text success&lt;/p&gt;
&lt;p class="clickable text-info"&gt;Clickable text info&lt;/p&gt;
&lt;p class="clickable text-warning"&gt;Clickable text warning&lt;/p&gt;
&lt;p class="clickable text-danger"&gt;Clickable text danger&lt;/p&gt;
&lt;p class="clickable text-attention"&gt;Clickable text attention&lt;/p&gt;</code></pre>
  </div>
</div>
