<!-- ================================== About Mineralbay Pattern Library ================================== -->

<div class="pl-docs-section">
  <h1 id="about" class="page-header">About this Pattern Library</h1>
  <p>The present style guide and pattern library is built on the <a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a> framework - with MineralBay branding and custom, reusable components.
  Especially with such a large and broad target group, it is important to create a recognition value through uniform design and recurring design. In addition to the actual design, particular importance is also given to UX guidelines. 
  </p>




</div>