<!-- ================================== About Mineralbay Pattern Library ================================== -->

<div class="pl-docs-section">
  <h1 id="about" class="page-header">MineralBay Logo</h1>

	<div class="row">
	<div class="col-md-3">
		<div class="pl-example" style="background-color: #eeeeee">
		MineralBay-Logo
		</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="images/mineralbay_logo.png" download="mineralbay_logo">
		<img class="ratio" src="images/mineralbay_logo.png" alt="" aria-hidden="true">
		</br>
		<span class="glyphicon glyphicon-download" aria-hidden="true"></span>
  		</a>
  		</div>
  	</div>
  <div class="col-md-3">
  <div class="pl-example" style="background-color: #eeeeee">
  	MineralBay-Logo Hover
    </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="images/mineralbay_hover.png" download="mineralbay_hover">
    <img class="ratio" src="images/mineralbay_hover.png" alt="" aria-hidden="true">
    </br>
   <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
  	</a>
  	</div>
  </div>
  
  
  <div class="col-md-3">
  <div class="pl-example" style="background-color: #eeeeee">
  MineralBay-Logo white background
    </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="images/logo_whiteback.png" download="logo_whiteback">
    <img class="ratio" src="images/logo_whiteback.png" alt="" aria-hidden="true" style="margin-top: -23px; max-width: 155px;">
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
  	</a>
  </div>
  </div>
  <div class="col-md-3">
  <div class="pl-example" style="background-color: #eeeeee">
  MineralBay-Logo white background hover
    </br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="images/logo_hover_whiteback.png" download="logo_hover_whiteback">
    <img class="ratio" src="images/logo_hover_whiteback.png" alt="" aria-hidden="true" style="margin-top: -23px; max-width: 155px;">
    
    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
  	</a>
  </div>
  </div>
  </div>
</div>