<!-- ================================== About Mineralbay Pattern Library ================================== -->

<div class="pl-docs-section">
  <h1 id="about" class="page-header">MineralBay Logo</h1>

	<a href="images/mineralbay_logo.png" download="myimage">
    
    <img class="ratio" src="images/mineralbay_logo.png" alt="" aria-hidden="true">
    <i aria-hidden="true" class="icon-download"></i>
    <span class="screen-reader">Download Main Logo</span>
  </a>
  
  <a href="images/mineralbay_hover.png" download="myimage">
    
    <img class="ratio" src="images/mineralbay_hover.png" alt="" aria-hidden="true">
    <i aria-hidden="true" class="icon-download"></i>
    <span class="screen-reader">Download Hover Logo</span>
  </a>
</div>