<!-- ================================== Colors ================================== -->

<!-- Colors (MineralBay Custom) -->
<div class="pl-docs-section">
  <h1 id="colors" class="page-header">Colors</h1>
  <article class="pl-article">
    <h3>MineralBay Colors</h3>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="pl-swatch--bt-blue"></div>
          <p class="pl-swatch-txt">@mineralbay-red<br>#b20001</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="pl-swatch--bt-orange"></div>
          <p class="pl-swatch-txt">@mineralbay-orange<br>#ee6023</p>
        </div>
      </div>
    </div>
  </article>
  <article class="pl-article">
    <h3>Brand Colors</h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--primary"></div>
          <p class="pl-swatch-txt">@brand-primary<br>#b20001</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--attention"></div>
          <p class="pl-swatch-txt">@brand-attention<br>#f68a24</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--success"></div>
          <p class="pl-swatch-txt">@brand-success<br>#669900</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--info"></div>
          <p class="pl-swatch-txt">@brand-info<br>#5bc0de</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--warning"></div>
          <p class="pl-swatch-txt">@brand-warning<br>#ffcc33</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--danger"></div>
          <p class="pl-swatch-txt">@brand-danger<br>#cb2027</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--highlight"></div>
          <p class="pl-swatch-txt">@brand-highlight<br>#f5fbff</p>
        </div>
      </div>
    </div>
  </article>

  <article class="pl-article">
    <h3>Cool Colors</h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--cool-dark"></div>
          <p class="pl-swatch-txt">@cool-dark<br>#222C32</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--cool"></div>
          <p class="pl-swatch-txt">@cool<br>#394B54</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--cool-light"></div>
          <p class="pl-swatch-txt">@cool-light<br>#5F7F8E</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--cool-hover"></div>
          <p class="pl-swatch-txt">@cool-hover<br>#F2F9FC</p>
        </div>
      </div>
    </div>
  </article>

  <article class="pl-article">
    <h3>Grays</h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--gray-darker"></div>
          <p class="pl-swatch-txt">@gray-darker<br>#4c4c4c</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--gray-dark"></div>
          <p class="pl-swatch-txt">@gray-dark<br>#696969</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--gray"></div>
          <p class="pl-swatch-txt">@gray<br>#999999</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--gray-light"></div>
          <p class="pl-swatch-txt">@gray-light<br>#cccccc</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--gray-lighter"></div>
          <p class="pl-swatch-txt">@gray-lighter<br>#eeeeee</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <div class="pl-swatch--gray-lightest"></div>
          <p class="pl-swatch-txt">@gray-lightest<br>#f6f6f6</p>
        </div>
      </div>
    </div>
  </article>
</div>
