<section id="chosen">
  <div class="page-header">
    <h1>Chosen<small>
        (<a target="_blank" href="http://harvesthq.github.io/chosen/">Chosen</a>, <a target="_blank" href="https://github.com/localytics/angular-chosen">angular-chosen</a>)
    </small>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-offset-md-3">
        <p>Chosen allows for searchable dropdowns.</p>

        <p>Provide a <code>chosen</code> attribute with an <code>ng-options</code> attribute to a <code>select</code> tag to search for elements.</p>
    </div>
  </div>
  <hr>
    <bt-lazy-pen height="266" theme-id="5675" slug="drpum" user-id="seanboom" author="Sean McCambridge"></bt-lazy-pen>
</section>