<!-- ================================== Datepicker (Angular) ================================== -->
<section id="datepicker">
<div ng-controller="btDatepickerTest">
<!-- Datepicker (Bootstrap-datepicker) -->
<script type="text/javascript">
  angular.module('mineralbay').controller('btDatepickerTest', function($scope) {
    $scope.date = {
      value: null
    };
  });
</script>

<div class="page-header">
        <h1>Datepicker<small>
            (<a target="_blank" href="https://github.com/uxsolutions/bootstrap-datepicker">bootstrap-datepicker</a>)
        </small></h1>
</div>

<div class="panel panel-default">
      <!-- Tabs -->
      <ul class="nav nav-tabs panel__nav-tabs bg-gray-lightest" role="tablist">
      <li class="active"><a href="#datepicker-tab-0" role="tab" data-toggle="tab">Preview</a></li>
      <li ><a href="#datepicker-tab-1" role="tab" data-toggle="tab">Markup</a></li>
        <li ><a href="#datepicker-tab-2" role="tab" data-toggle="tab">Integration into JHipster</a></li>
      </ul>
      <div class="panel-body">
        <div class="tab-content">
          <!-- Tab Panes -->
          <div class="tab-pane fade in active" id="datepicker-tab-0">
        	<button type="button" class="btn btn-default" bt-date-picker="date">Click me!</button>
        		You selected <span ng-bind="date.value"></span>
          </div>
          
          <div class="tab-pane fade in active" id="datepicker-tab-1">
          <pre><code data-language="html">&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; bt-date-picker=&quot;date&quot;&gt;Click me!&lt;/button&gt;
        		You selected &lt;span ng-bind=&quot;date.value&quot;&gt;&lt;/span&gt;</code></pre>
          </div>
          
          <div class="tab-pane fade" id="datepicker-tab-2">
          <p>Add bootstrap-datepicker as a dependency in bower.json, .</p>
          
          <pre><code data-language="html">&quot;bootstrap-datepicker&quot;: &quot;1.3.1&quot;</code></pre>
          <p>Then run:</p>
          <pre><code>bower install</code></pre>
          <p>In src/main/webapp/index.html, add links to the CSS and JS files:</p>
          <pre><code data-language="html">&lt;head&gt;
    ...
    &lt;link rel=&quot;stylesheet&quot; src=&quot;bower_components/bootstrap-datepicker/css/datepicker.css&quot;&gt;
    ...
&lt;/head&gt;

&lt;script src=&quot;bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js&quot;&gt;&lt;/script&gt;</code></pre>

			<p>Example:</p>
			<pre><code data-language="html">&lt;div class=&quot;form-group&quot;&gt;
        &lt;label for=&quot;birthdate&quot;&gt;Birth Date&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;birthdate&quot; data-provide=&quot;datepicker&quot;&gt;
    &lt;/div&gt;</code></pre>
          </div> <!-- end tab-pane -->
    	</div> <!-- end tab-content -->
      </div> <!-- end panel-body -->
</div> <!-- end panel -->

</div>
</section>
