<section id="pager">
<div ng-controller="PagerDemoCtrl">
<script type="text/javascript">
  angular.module('mineralbay').controller('PagerDemoCtrl', function($scope) {
  $scope.totalItems = 64;
  $scope.currentPage = 4;
});
  
</script>
    <div class="page-header">
        <h1>Pager<small>
            (<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/pager">ui.bootstrap.pager</a>)
        </small></h1>
    </div>
    <p>A lightweight pager directive that is focused on providing previous/next paging functionality</p>

<div class="panel panel-default">

      <!-- Tabs -->
      <ul class="nav nav-tabs panel__nav-tabs bg-gray-lightest" role="tablist">
      <li class="active"><a href="#pager-tab-0" role="tab" data-toggle="tab">Preview</a></li>
        <li ><a href="#pager-tab-1" role="tab" data-toggle="tab">Markup</a></li>
        <li><a href="#pager-tab-2" role="tab" data-toggle="tab">Javascript</a></li>
        <li><a href="#pager-tab-3" role="tab" data-toggle="tab">Settings</a></li>
      </ul>
      <div class="panel-body">
        <div class="tab-content">
          <!-- Tab Panes -->
          <div class="tab-pane fade in active" id="pager-tab-0">
  <h4>Pager</h4>
  <pre>You are currently on page [[currentPage]]</pre>
  <ul uib-pager total-items="totalItems" ng-model="currentPage"></ul>
          </div>
          <div class="tab-pane fade" id="pager-tab-1">
             <pre><code data-language="html">&lt;div ng-controller=&quot;PagerDemoCtrl&quot;&gt;
  &lt;h4&gt;Pager&lt;/h4&gt;
  &lt;pre&gt;You are currently on page &#123;&#123;currentPage&#125;&#125;&lt;/pre&gt;
  &lt;ul uib-pager total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot;&gt;&lt;/ul&gt;
&lt;/div&gt;</code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="pager-tab-2">
            <pre ng-non-bindable><code data-language="javascript">app.controller(&#x27PagerDemoCtrl&#x27, function($scope) {
  $scope.totalItems = 64;
  $scope.currentPage = 4;
});</code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="pager-tab-3">
            <h3 id="uib-pager-settings">uib-pager settings</h3>
<ul>
<li><p><code>align</code>
<small class="badge">C</small>
<em>(Default: <code>true</code>)</em> -
Whether to align each link to the sides.</p>
</li>
<li><p><code>items-per-page</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>10</code>)</em> -
Maximum number of items per page. A value less than one indicates all items on one page.</p>
</li>
<li><p><code>next-text</code>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>Next »</code>)</em> -
Text for Next button.</p>
</li>
<li><p><code>ng-disabled</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>false</code>)</em> -
Used to disable the pager component.</p>
</li>
<li><p><code>ng-model</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<span class="glyphicon glyphicon-eye-open"></span>
<i class="glyphicon glyphicon-eye-open"></i> -
Current page number. First page is 1.</p>
</li>
<li><p><code>num-pages</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<small class="badge">readonly</small>
<em>(Default: <code>angular.noop</code>)</em> -
An optional expression assigned the total number of pages to display.</p>
</li>
<li><p><code>previous-text</code>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>« Previous</code>)</em> -
Text for Previous button.</p>
</li>
<li><p><code>template-url</code>
<em>(Default: <code>uib/template/pager/pager.html</code>)</em> -
Override the template for the component with a custom provided template.</p>
</li>
<li><p><code>total-items</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<i class="glyphicon glyphicon-eye-open"></i> -
Total number of items in all pages.</p>
</li>
</ul>
          </div> <!-- end tab-pane -->
        </div> <!-- end tab-content -->
      </div> <!-- end panel-body -->
    </div> <!-- end panel -->
  
</div>
</section>