<section id="pagination">
<div ng-controller="PaginationDemoCtrl">
<script type="text/javascript">
angular.module('mineralbay').controller('PaginationDemoCtrl', function ($scope, $log) {
  $scope.totalItems = 64;
  $scope.currentPage = 4;

  $scope.setPage = function (pageNo) {
    $scope.currentPage = pageNo;
  };

  $scope.pageChanged = function() {
    $log.log('Page changed to: ' + $scope.currentPage);
  };

  $scope.maxSize = 5;
  $scope.bigTotalItems = 175;
  $scope.bigCurrentPage = 1;
});
</script>



    <div class="page-header">
        <h1>Pagination<small>
            (<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/pagination">ui.bootstrap.pagination</a>)
        </small></h1>
    </div>

<div class="panel panel-default">

      <!-- Tabs -->
      <ul class="nav nav-tabs panel__nav-tabs bg-gray-lightest" role="tablist">
      <li class="active"><a href="#pag-tab-0" role="tab" data-toggle="tab">Preview</a></li>
        <li ><a href="#pag-tab-1" role="tab" data-toggle="tab">Markup</a></li>
        <li><a href="#pag-tab-2" role="tab" data-toggle="tab">Javascript</a></li>
        <li><a href="#pag-tab-3" role="tab" data-toggle="tab">Settings</a></li>
      </ul>
      <div class="panel-body">
        <div class="tab-content">
          <!-- Tab Panes -->
          <div class="tab-pane fade in active" id="pag-tab-0">
             <h4>Default</h4>
    <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul></br>
    <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul></br>
    <ul uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></ul></br>
    <ul uib-pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages"></ul>
    <pre>The selected page no: <span ng-bind="currentPage"></span></pre>
    <button type="button" class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>

    <hr />
    <h4>Limit the maximum visible buttons</h4>
    <h6><code>rotate</code> defaulted to <code>true</code>:</h6>
    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
    <h6><code>rotate</code> defaulted to <code>true</code> and <code>force-ellipses</code> set to <code>true</code>:</h6>
    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
    <h6><code>rotate</code> set to <code>false</code>:</h6>
    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></ul>
    <h6><code>boundary-link-numbers</code> set to <code>true</code> and <code>rotate</code> defaulted to <code>true</code>:</h6>
    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
    <h6><code>boundary-link-numbers</code> set to <code>true</code> and <code>rotate</code> set to <code>false</code>:</h6>
    <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
    <pre>Page:<span ng-bind="bigCurrentPage"></span> / <span ng-bind="numPages"></span></pre>
            
          </div>
          <div class="tab-pane fade" id="pag-tab-1">
             <pre><code data-language="html"> &lt;h4&gt;Default&lt;/h4&gt;
&lt;ul uib-pagination total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot; ng-change=&quot;pageChanged()&quot;&gt;&lt;/ul&gt;&lt;/br&gt;
&lt;ul uib-pagination boundary-links=&quot;true&quot; total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot; class=&quot;pagination-sm&quot; previous-text=&quot;&amp;lsaquo;&quot; next-text=&quot;&amp;rsaquo;&quot; first-text=&quot;&amp;laquo;&quot; last-text=&quot;&amp;raquo;&quot;&gt;&lt;/ul&gt;&lt;/br&gt;
&lt;ul uib-pagination direction-links=&quot;false&quot; boundary-links=&quot;true&quot; total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot;&gt;&lt;/ul&gt;&lt;/br&gt;
&lt;ul uib-pagination direction-links=&quot;false&quot; total-items=&quot;totalItems&quot; ng-model=&quot;currentPage&quot; num-pages=&quot;smallnumPages&quot;&gt;&lt;/ul&gt;
&lt;pre&gt;The selected page no: &lt;span ng-bind=&quot;currentPage&quot;&gt;&lt;/span&gt;&lt;/pre&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot; ng-click=&quot;setPage(3)&quot;&gt;Set current page to: 3&lt;/button&gt;

&lt;hr /&gt;
&lt;h4&gt;Limit the maximum visible buttons&lt;/h4&gt;
&lt;h6&gt;&lt;code&gt;rotate&lt;/code&gt; defaulted to &lt;code&gt;true&lt;/code&gt;:&lt;/h6&gt;
&lt;ul uib-pagination total-items=&quot;bigTotalItems&quot; ng-model=&quot;bigCurrentPage&quot; max-size=&quot;maxSize&quot; class=&quot;pagination-sm&quot; boundary-links=&quot;true&quot; num-pages=&quot;numPages&quot;&gt;&lt;/ul&gt;
&lt;h6&gt;&lt;code&gt;rotate&lt;/code&gt; defaulted to &lt;code&gt;true&lt;/code&gt; and &lt;code&gt;force-ellipses&lt;/code&gt; set to &lt;code&gt;true&lt;/code&gt;:&lt;/h6&gt;
&lt;ul uib-pagination total-items=&quot;bigTotalItems&quot; ng-model=&quot;bigCurrentPage&quot; max-size=&quot;maxSize&quot; class=&quot;pagination-sm&quot; boundary-links=&quot;true&quot; force-ellipses=&quot;true&quot;&gt;&lt;/ul&gt;
&lt;h6&gt;&lt;code&gt;rotate&lt;/code&gt; set to &lt;code&gt;false&lt;/code&gt;:&lt;/h6&gt;
&lt;ul uib-pagination total-items=&quot;bigTotalItems&quot; ng-model=&quot;bigCurrentPage&quot; max-size=&quot;maxSize&quot; class=&quot;pagination-sm&quot; boundary-links=&quot;true&quot; rotate=&quot;false&quot;&gt;&lt;/ul&gt;
&lt;h6&gt;&lt;code&gt;boundary-link-numbers&lt;/code&gt; set to &lt;code&gt;true&lt;/code&gt; and &lt;code&gt;rotate&lt;/code&gt; defaulted to &lt;code&gt;true&lt;/code&gt;:&lt;/h6&gt;
&lt;ul uib-pagination total-items=&quot;bigTotalItems&quot; ng-model=&quot;bigCurrentPage&quot; max-size=&quot;maxSize&quot; class=&quot;pagination-sm&quot; boundary-link-numbers=&quot;true&quot;&gt;&lt;/ul&gt;
&lt;h6&gt;&lt;code&gt;boundary-link-numbers&lt;/code&gt; set to &lt;code&gt;true&lt;/code&gt; and &lt;code&gt;rotate&lt;/code&gt; set to &lt;code&gt;false&lt;/code&gt;:&lt;/h6&gt;
&lt;ul uib-pagination total-items=&quot;bigTotalItems&quot; ng-model=&quot;bigCurrentPage&quot; max-size=&quot;maxSize&quot; class=&quot;pagination-sm&quot; boundary-link-numbers=&quot;true&quot; rotate=&quot;false&quot;&gt;&lt;/ul&gt;
&lt;pre&gt;Page:&lt;span ng-bind=&quot;bigCurrentPage&quot;&gt;&lt;/span&gt; / &lt;span ng-bind=&quot;numPages&quot;&gt;&lt;/span&gt;&lt;/pre&gt;
             </code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="pag-tab-2">
          <pre><code data-language="javascript">app.controller(&#x27PaginationDemoCtrl&#x27, function ($scope, $log) {
  $scope.totalItems = 64;
  $scope.currentPage = 4;

  $scope.setPage = function (pageNo) {
    $scope.currentPage = pageNo;
  };

  $scope.pageChanged = function() {
    $log.log(&#x27Page changed to: &#x27 + $scope.currentPage);
  };

  $scope.maxSize = 5;
  $scope.bigTotalItems = 175;
  $scope.bigCurrentPage = 1;
});</code></pre>
          </div>
          <div class="tab-pane fade" id="pag-tab-3">
            <h3 id="uib-pagination-settings">uib-pagination settings</h3>
<ul>
<li><p><code>boundary-links</code>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>false</code>)</em> -
Whether to display First / Last buttons.</p>
</li>
<li><p><code>boundary-link-numbers</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>false</code>)</em> -
Whether to always display the first and last page numbers. If <code>max-size</code> is smaller than the number of pages, then the  first and last page numbers are still shown with ellipses in-between as necessary. NOTE: <code>max-size</code> refers to the center of the range. This option may add up to 2 more numbers on each side of the displayed range for the end value and what would be an ellipsis but is replaced by a number because it is sequential.</p>
</li>
<li><p><code>direction-links</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>true</code>)</em> -
Whether to display Previous / Next buttons.</p>
</li>
<li><p><code>first-text</code>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>First</code>)</em> -
Text for First button.</p>
</li>
<li><p><code>force-ellipses</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>false</code>)</em> -
Also displays ellipses when <code>rotate</code> is true and <code>max-size</code> is smaller than the number of pages.</p>
</li>
<li><p><code>items-per-page</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<i class="glyphicon glyphicon-eye-open" uib-tooltip="This setting has an angular $watch listener applied to it."></i>
<em>(Default: <code>10</code>)</em> -
Maximum number of items per page. A value less than one indicates all items on one page.</p>
</li>
<li><p><code>last-text</code>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>Last</code>)</em> -
Text for Last button.</p>
</li>
<li><p><code>max-size</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<i class="glyphicon glyphicon-eye-open" uib-tooltip="This setting has an angular $watch listener applied to it."></i>
<em>(Default: <code>null</code>)</em> -
Limit number for pagination size.</p>
</li>
<li><p><code>next-text</code>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>Next</code>)</em> -
Text for Next button.</p>
</li>
<li><p><code>ng-change</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small> -
This can be used to call a function whenever the page changes.</p>
</li>
<li><p><code>ng-disabled</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<i class="glyphicon glyphicon-eye-open" uib-tooltip="This setting has an angular $watch listener applied to it."></i>
<em>(Default: <code>false</code>)</em> -
Used to disable the pagination component.</p>
</li>
<li><p><code>ng-model</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<i class="glyphicon glyphicon-eye-open" uib-tooltip="This setting has an angular $watch listener applied to it."></i> -
Current page number. First page is 1.</p>
</li>
<li><p><code>num-pages</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<small class="badge" uib-tooltip="This setting is readonly.">readonly</small>
<em>(Default: <code>angular.noop</code>)</em> -
An optional expression assigned the total number of pages to display.</p>
</li>
<li><p><code>page-label</code>
<em>(Default: <code>angular.identity</code>)</em> -
An optional expression to override the page label based on passing the current page indexes. Supports page number with <code>$page</code> in the template.</p>
</li>
<li><p><code>previous-text</code>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>Previous</code>)</em> -
Text for Previous button.</p>
</li>
<li><p><code>rotate</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<small class="badge" uib-tooltip="This setting can be configured globally in a constant service. Some directives have a config service that follows the next pattern: uibDirectiveConfig. The service's settings use camel case. The services can be configured in a .config function for example." tooltip-placement="top">C</small>
<em>(Default: <code>true</code>)</em> -
Whether to keep current page in the middle of the visible ones.</p>
</li>
<li><p><code>template-url</code>
<em>(Default: <code>uib/template/pagination/pagination.html</code>)</em> -
Override the template for the component with a custom provided template</p>
</li>
<li><p><code>total-items</code>
<small class="badge" uib-tooltip="This setting expects an angular expression instead of a literal string. If the expression supports a boolean / integer, you can pass it directly." tooltip-placement="top">$</small>
<i class="glyphicon glyphicon-eye-open" uib-tooltip="This setting has an angular $watch listener applied to it."></i> -
Total number of items in all pages.</p>
</li>
</ul>
          </div> <!-- end tab-pane -->
        </div> <!-- end tab-content -->
      </div> <!-- end panel-body -->
    </div> <!-- end panel -->
  

   
</div>
</section>


