<section id="popover">
<div ng-controller="PopoverDemoCtrl">
<script type="text/javascript">
  angular.module('mineralbay').controller('PopoverDemoCtrl', function ($scope, $sce) {
  $scope.dynamicPopover = {
    content: 'Hello, World!',
    templateUrl: 'myPopoverTemplate.html',
    title: 'Title'
  };

  $scope.placement = {
    options: [
      'top',
      'top-left',
      'top-right',
      'bottom',
      'bottom-left',
      'bottom-right',
      'left',
      'left-top',
      'left-bottom',
      'right',
      'right-top',
      'right-bottom'
    ],
    selected: 'top'
  };
  
  $scope.htmlPopover = $sce.trustAsHtml('<b style="color: red">I can</b> have <div class="label label-success">HTML</div> content');
});
  
</script>
    <div class="page-header">
        <h1>Popover<small>
            (<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/popover">ui.bootstrap.popover</a>)
        </small></h1>
    </div>
    
 <p>Like the Bootstrap jQuery plugin, the popover <strong>requires</strong> the tooltip
module.</p>
<p><strong>Note to mobile developers</strong>:  Please note that while popovers may work correctly on mobile devices (including tablets),
  we have made the decision to not officially support such a use-case because it does not make sense from a UX perspective.</p>   
 <div class="panel panel-default">

      <!-- Tabs -->
      <ul class="nav nav-tabs panel__nav-tabs bg-gray-lightest" role="tablist">
      <li class="active"><a href="#pop-tab-0" role="tab" data-toggle="tab">Preview</a></li>
        <li ><a href="#pop-tab-1" role="tab" data-toggle="tab">Markup</a></li>
        <li><a href="#pop-tab-2" role="tab" data-toggle="tab">Javascript</a></li>
        <li><a href="#pop-tab-3" role="tab" data-toggle="tab">Settings</a></li>
      </ul>
      <div class="panel-body">
        <div class="tab-content">
          <!-- Tab Panes -->
          <div class="tab-pane fade in active" id="pop-tab-0">
<script type="text/ng-template" id="myPopoverTemplate.html">
        <div>[[dynamicPopover.content]]</div>
        <div class="form-group">
          <label>Popup Title:</label>
          <input type="text" ng-model="dynamicPopover.title" class="form-control">
        </div>
    </script>
    <h4>Dynamic</h4>
    <div class="form-group">
      <label>Popup Text:</label>
      <input type="text" ng-model="dynamicPopover.content" class="form-control">
    </div>
    <div class="form-group">
      <label>Popup Title:</label>
      <input type="text" ng-model="dynamicPopover.title" class="form-control">
    </div>
    <div class="form-group">
      <label>Popup Template:</label>
      <input type="text" ng-model="dynamicPopover.templateUrl" class="form-control">
    </div>
    <button uib-popover="[[dynamicPopover.content]]" popover-title="[[dynamicPopover.title]]" type="button" class="btn btn-default">Dynamic Popover</button>

    <button uib-popover-template="dynamicPopover.templateUrl" popover-title="[[dynamicPopover.title]]" type="button" class="btn btn-default">Popover With Template</button>

    
    <hr />
    <h4>Positional</h4>
    <div class="form-group">
      <label>Popover placement</label>
      <select class="form-control" ng-model="placement.selected" ng-options="o as o for o in placement.options"></select>
    </div>
    <button popover-placement="[[placement.selected]]" uib-popover="On the [[placement.selected]]" type="button" class="btn btn-default">Popover [[placement.selected]]</button>

    <hr />
    <h4>Triggers</h4>
    <p>
      <button uib-popover="I appeared on mouse enter!" popover-trigger="'mouseenter'" type="button" class="btn btn-default">Mouseenter</button>
    </p>
    <input type="text" value="Click me!" uib-popover="I appeared on focus! Click away and I'll vanish..."  popover-trigger="'focus'" class="form-control">

    <hr />
    <h4>Other</h4>
    <button popover-animation="true" uib-popover="I fade in and out!" type="button" class="btn btn-default">fading</button>
    <button uib-popover="I have a title!" popover-title="The title." type="button" class="btn btn-default">title</button>
    <button uib-popover="I am activated manually" popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen" type="button" class="btn btn-default">Toggle popover</button>
    <button uib-popover-html="htmlPopover" class="btn btn-default">HTML Popover</button>
    <button uib-popover-html="'<b>HTML</b>, <i>inline</i>'" class="btn btn-default">HTML Popover (inline)</button>

          </div>
          <div class="tab-pane fade" id="pop-tab-1">
             <pre><code data-language="html">&lt;div ng-controller=&quot;PopoverDemoCtrl&quot;&gt;
    &lt;h4&gt;Dynamic&lt;/h4&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label&gt;Popup Text:&lt;/label&gt;
      &lt;input type=&quot;text&quot; ng-model=&quot;dynamicPopover.content&quot; class=&quot;form-control&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label&gt;Popup Title:&lt;/label&gt;
      &lt;input type=&quot;text&quot; ng-model=&quot;dynamicPopover.title&quot; class=&quot;form-control&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label&gt;Popup Template:&lt;/label&gt;
      &lt;input type=&quot;text&quot; ng-model=&quot;dynamicPopover.templateUrl&quot; class=&quot;form-control&quot;&gt;
    &lt;/div&gt;
    &lt;button uib-popover=&quot;&#123;&#123;dynamicPopover.content&#125;&#125;&quot; popover-title=&quot;&#123;&#123;dynamicPopover.title&#125;&#125;&quot; type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Dynamic Popover&lt;/button&gt;

    &lt;button uib-popover-template=&quot;dynamicPopover.templateUrl&quot; popover-title=&quot;&#123;&#123;dynamicPopover.title&#125;&#125;&quot; type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Popover With Template&lt;/button&gt;

    &lt;script type=&quot;text/ng-template&quot; id=&quot;myPopoverTemplate.html&quot;&gt;
        &lt;div&gt;&#123;&#123;dynamicPopover.content&#125;&#125;&lt;/div&gt;
        &lt;div class=&quot;form-group&quot;&gt;
          &lt;label&gt;Popup Title:&lt;/label&gt;
          &lt;input type=&quot;text&quot; ng-model=&quot;dynamicPopover.title&quot; class=&quot;form-control&quot;&gt;
        &lt;/div&gt;
    &lt;/script&gt;
    &lt;hr /&gt;
    &lt;h4&gt;Positional&lt;/h4&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label&gt;Popover placement&lt;/label&gt;
      &lt;select class=&quot;form-control&quot; ng-model=&quot;placement.selected&quot; ng-options=&quot;o as o for o in placement.options&quot;&gt;&lt;/select&gt;
    &lt;/div&gt;
    &lt;button popover-placement=&quot;&#123;&#123;placement.selected&#125;&#125;&quot; uib-popover=&quot;On the &#123;&#123;placement.selected&#125;&#125;&quot; type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Popover &#123;&#123;placement.selected&#125;&#125;&lt;/button&gt;

    &lt;hr /&gt;
    &lt;h4&gt;Triggers&lt;/h4&gt;
    &lt;p&gt;
      &lt;button uib-popover=&quot;I appeared on mouse enter!&quot; popover-trigger=&quot;'mouseenter'&quot; type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Mouseenter&lt;/button&gt;
    &lt;/p&gt;
    &lt;input type=&quot;text&quot; value=&quot;Click me!&quot; uib-popover=&quot;I appeared on focus! Click away and I'll vanish...&quot;  popover-trigger=&quot;'focus'&quot; class=&quot;form-control&quot;&gt;

    &lt;hr /&gt;
    &lt;h4&gt;Other&lt;/h4&gt;
    &lt;button popover-animation=&quot;true&quot; uib-popover=&quot;I fade in and out!&quot; type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;fading&lt;/button&gt;
    &lt;button uib-popover=&quot;I have a title!&quot; popover-title=&quot;The title.&quot; type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;title&lt;/button&gt;
    &lt;button uib-popover=&quot;I am activated manually&quot; popover-is-open=&quot;popoverIsOpen&quot; ng-click=&quot;popoverIsOpen = !popoverIsOpen&quot; type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Toggle popover&lt;/button&gt;
    &lt;button uib-popover-html=&quot;htmlPopover&quot; class=&quot;btn btn-default&quot;&gt;HTML Popover&lt;/button&gt;
    &lt;button uib-popover-html=&quot;'&lt;b&gt;HTML&lt;/b&gt;, &lt;i&gt;inline&lt;/i&gt;'&quot; class=&quot;btn btn-default&quot;&gt;HTML Popover (inline)&lt;/button&gt;
&lt;/div&gt;</code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="pop-tab-2">
            <pre><code data-language="javascript">angular.module(&#x27ui.bootstrap.demo&#x27).controller(&#x27PopoverDemoCtrl&#x27, function ($scope, $sce) {
  $scope.dynamicPopover = {
    content: &#x27Hello, World!&#x27,
    templateUrl: &#x27myPopoverTemplate.html&#x27,
    title: &#x27Title&#x27
  };

  $scope.placement = {
    options: [
      &#x27top&#x27,
      &#x27top-left&#x27,
      &#x27top-right&#x27,
      &#x27bottom&#x27,
      &#x27bottom-left&#x27,
      &#x27bottom-right&#x27,
      &#x27left&#x27,
      &#x27left-top&#x27,
      &#x27left-bottom&#x27,
      &#x27right&#x27,
      &#x27right-top&#x27,
      &#x27right-bottom&#x27
    ],
    selected: &#x27top&#x27
  };
  
  $scope.htmlPopover = $sce.trustAsHtml(&#x27&lt;b style=&quot;color: red&quot;&gt;I can&lt;/b&gt; have &lt;div class=&quot;label label-success&quot;&gt;HTML&lt;/div&gt; content&#x27);
});</code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="pop-tab-3">
            <p>There are three versions of the popover: <code>uib-popover</code> and <code>uib-popover-template</code>, and <code>uib-popover-html</code>:</p>
<ul>
<li><code>uib-popover</code> -
Takes text only and will escape any HTML provided for the popover body.</li>
<li><code>uib-popover-html</code>
<small class="badge">$</small> -
Takes an expression that evaluates to an HTML string. Note that this HTML is not compiled. If compilation is required, please use the <code>uib-popover-template</code> attribute option instead.  <em>The user is responsible for ensuring the content is safe to put into the DOM!</em></li>
<li><code>uib-popover-template</code>
<small class="badge">$</small> -
A URL representing the location of a template to use for the popover body. Note that the contents of this template need to be wrapped in a tag, e.g., <code>&lt;div&gt;&lt;/div&gt;</code>.</li>
</ul>
<h3 id="uib-popover-settings">uib-popover-* settings</h3>
<p>All these settings are available for the three types of popovers.</p>
<ul>
<li><p><code>popover-animation</code>
<small class="badge">$</small>
<small class="badge">C</small>
<em>(Default: <code>true</code>, Config: <code>animation</code>)</em> -
Should it fade in and out?</p>
</li>
<li><p><code>popover-append-to-body</code>
<small class="badge">$</small>
<small class="badge">C</small>
<em>(Default: <code>false</code>, Config: <code>appendToBody</code>)</em> -
Should the popover be appended to &#39;$body&#39; instead of the parent element?</p>
</li>
<li><p><code>popover-class</code> -
Custom class to be applied to the popover.</p>
</li>
<li><p><code>popover-enable</code>
<small class="badge">$</small>
<em>(Default: <code>true</code>)</em> -
Is it enabled? It will enable or disable the configured popover-trigger.</p>
</li>
<li><p><code>popover-is-open</code>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>false</code>)</em> -
Whether to show the popover.</p>
</li>
<li><p><code>popover-placement</code>
<small class="badge">C</small>
<em>(Default: <code>top</code>, Config: <code>placement</code>)</em> -
Passing in &#39;auto&#39; separated by a space before the placement will enable auto positioning, e.g: &quot;auto bottom-left&quot;. The popover will attempt to position where it fits in the closest scrollable ancestor. Accepts:</p>
<ul>
<li><code>top</code> - popover on top, horizontally centered on host element.</li>
<li><code>top-left</code> - popover on top, left edge aligned with host element left edge.</li>
<li><code>top-right</code> - popover on top, right edge aligned with host element right edge.</li>
<li><code>bottom</code> - popover on bottom, horizontally centered on host element.</li>
<li><code>bottom-left</code> - popover on bottom, left edge aligned with host element left edge.</li>
<li><code>bottom-right</code> - popover on bottom, right edge aligned with host element right edge.</li>
<li><code>left</code> - popover on left, vertically centered on host element.</li>
<li><code>left-top</code> - popover on left, top edge aligned with host element top edge.</li>
<li><code>left-bottom</code> - popover on left, bottom edge aligned with host element bottom edge.</li>
<li><code>right</code> - popover on right, vertically centered on host element.</li>
<li><code>right-top</code> - popover on right, top edge aligned with host element top edge.</li>
<li><code>right-bottom</code> - popover on right, bottom edge aligned with host element bottom edge.</li>
</ul>
</li>
<li><p><code>popover-popup-close-delay</code>
<small class="badge">C</small>
<em>(Default: <code>0</code>, Config: <code>popupCloseDelay</code>)</em> -
For how long should the popover remain open after the close trigger event?</p>
</li>
<li><p><code>popover-popup-delay</code>
<small class="badge">C</small>
<em>(Default: <code>0</code>, Config: <code>popupDelay</code>)</em> -
Popup delay in milliseconds until it opens.</p>
</li>
<li><p><code>popover-title</code> -
 A string to display as a fancy title.</p>
</li>
<li><p><code>popover-trigger</code>
<small class="badge">$</small>
<em>(Default: <code>&#39;click&#39;</code>)</em> -
What should trigger a show of the popover? Supports a space separated list of event names, or objects (see below).</p>
</li>
</ul>
<p><strong>Note:</strong> To configure the tooltips, you need to do it on <code>$uibTooltipProvider</code> (also see below).</p>
<h3 id="triggers">Triggers</h3>
<p>The following show triggers are supported out of the box, along with their provided hide triggers:</p>
<ul>
<li><code>mouseenter</code>: <code>mouseleave</code></li>
<li><code>click</code>: <code>click</code></li>
<li><code>outsideClick</code>: <code>outsideClick</code></li>
<li><code>focus</code>: <code>blur</code></li>
<li><code>none</code></li>
</ul>
<p>The <code>outsideClick</code> trigger will cause the popover to toggle on click, and hide when anything else is clicked.</p>
<p>For any non-supported value, the trigger will be used to both show and hide the
popover. Using the &#39;none&#39; trigger will disable the internal trigger(s), one can
then use the <code>popover-is-open</code> attribute exclusively to show and hide the popover.</p>
<h3 id="-uibtooltipprovider">$uibTooltipProvider</h3>
<p>Through the <code>$uibTooltipProvider</code>, you can change the way tooltips and popovers
behave by default; the attributes above always take precedence. The following
methods are available:</p>
<ul>
<li><p><code>setTriggers(obj)</code>
<em>(Example: <code>{ &#39;openTrigger&#39;: &#39;closeTrigger&#39; }</code>)</em> -
Extends the default trigger mappings mentioned above with mappings of your own.</p>
</li>
<li><p><code>options(obj)</code> -
Provide a set of defaults for certain tooltip and popover attributes. Currently supports the ones with the <small class="badge">C</small> badge.</p>
</li>
</ul>
<h3 id="known-issues">Known issues</h3>
<p>For Safari 7+ support, if you want to use <strong>focus</strong> <code>popover-trigger</code>, you need to use an anchor tag with a tab index. For example:</p>
<pre><code>&lt;a tabindex=&quot;0&quot; uib-popover=&quot;Test&quot; popover-trigger=&quot;focus&quot; class=&quot;btn btn-default&quot;&gt;
  Click Me
&lt;/a&gt;
</code></pre>
          </div> <!-- end tab-pane -->
        </div> <!-- end tab-content -->
      </div> <!-- end panel-body -->
    </div> <!-- end panel -->
     
    
    
</div>
</section>