<section id="timepicker">
<div ng-controller="TimepickerDemoCtrl">
<script type="text/javascript">
  angular.module('mineralbay').controller('TimepickerDemoCtrl', function ($scope, $log) {
  $scope.mytime = new Date();

  $scope.hstep = 1;
  $scope.mstep = 15;

  $scope.options = {
    hstep: [1, 2, 3],
    mstep: [1, 5, 10, 15, 25, 30]
  };

  $scope.ismeridian = true;
  $scope.toggleMode = function() {
    $scope.ismeridian = ! $scope.ismeridian;
  };

  $scope.update = function() {
    var d = new Date();
    d.setHours( 14 );
    d.setMinutes( 0 );
    $scope.mytime = d;
  };

  $scope.changed = function () {
    $log.log('Time changed to: ' + $scope.mytime);
  };

  $scope.clear = function() {
    $scope.mytime = null;
  };
});
  
</script>
    <div class="page-header">
        <h1>Timepicker<small>
            (<a target="_blank" href="https://github.com/angular-ui/bootstrap/tree/master/src/timepicker">ui.bootstrap.timepicker</a>)
        </small></h1>
    </div>
    

<div class="panel panel-default">

      <!-- Tabs -->
      <ul class="nav nav-tabs panel__nav-tabs bg-gray-lightest" role="tablist">
      <li class="active"><a href="#time-tab-0" role="tab" data-toggle="tab">Preview</a></li>
        <li ><a href="#time-tab-1" role="tab" data-toggle="tab">Markup</a></li>
        <li><a href="#time-tab-2" role="tab" data-toggle="tab">Javascript</a></li>
        <li><a href="#time-tab-3" role="tab" data-toggle="tab">Settings</a></li>
      </ul>
      <div class="panel-body">
        <div class="tab-content">
          <!-- Tab Panes -->
          <div class="tab-pane fade in active" id="time-tab-0">
           <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

  <pre class="alert alert-info">Time is: [[ mytime | date:'shortTime' ]]</pre>

  <div class="row"> 
    <div class="col-xs-6">
        Hours step is:
      <select class="form-control" ng-model="hstep" ng-options="opt for opt in options.hstep"></select>
    </div>
    <div class="col-xs-6">
        Minutes step is:
      <select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
    </div>
  </div>

  <hr>

  <button type="button" class="btn btn-info" ng-click="toggleMode()">12H / 24H</button>
  <button type="button" class="btn btn-default" ng-click="update()">Set to 14:00</button>
  <button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>
          </div>
          <div class="tab-pane fade" id="time-tab-1">
             <pre><code data-language="html"> &lt;div uib-timepicker ng-model=&quot;mytime&quot; ng-change=&quot;changed()&quot; hour-step=&quot;hstep&quot; minute-step=&quot;mstep&quot; show-meridian=&quot;ismeridian&quot;&gt;&lt;/div&gt;

  &lt;pre class=&quot;alert alert-info&quot;&gt;Time is: &#123;&#123;mytime | date:&#x27;shortTime&#x27; &#125;&#125;&lt;/pre&gt;

  &lt;div class=&quot;row&quot;&gt; 
    &lt;div class=&quot;col-xs-6&quot;&gt;
        Hours step is:
      &lt;select class=&quot;form-control&quot; ng-model=&quot;hstep&quot; ng-options=&quot;opt for opt in options.hstep&quot;&gt;&lt;/select&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-xs-6&quot;&gt;
        Minutes step is:
      &lt;select class=&quot;form-control&quot; ng-model=&quot;mstep&quot; ng-options=&quot;opt for opt in options.mstep&quot;&gt;&lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;hr&gt;

  &lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot; ng-click=&quot;toggleMode()&quot;&gt;12H / 24H&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; ng-click=&quot;update()&quot;&gt;Set to 14:00&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot; ng-click=&quot;clear()&quot;&gt;Clear&lt;/button&gt;</code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="time-tab-2">
            <pre><code data-language="javascript">app.controller(&#x27;TimepickerDemoCtrl&#x27;, function ($scope, $log) {
  $scope.mytime = new Date();

  $scope.hstep = 1;
  $scope.mstep = 15;

  $scope.options = {
    hstep: [1, 2, 3],
    mstep: [1, 5, 10, 15, 25, 30]
  };

  $scope.ismeridian = true;
  $scope.toggleMode = function() {
    $scope.ismeridian = ! $scope.ismeridian;
  };

  $scope.update = function() {
    var d = new Date();
    d.setHours( 14 );
    d.setMinutes( 0 );
    $scope.mytime = d;
  };

  $scope.changed = function () {
    $log.log(&#x27;Time changed to: &#x27; + $scope.mytime);
  };

  $scope.clear = function() {
    $scope.mytime = null;
  };
});</code></pre>
          </div> <!-- end tab-pane -->
          <div class="tab-pane fade" id="time-tab-3">
            <h3 id="uib-timepicker-settings">uib-timepicker settings</h3>
<ul>
<li><p><code>arrowkeys</code>
<small class="badge">$</small>
<small class="badge">C</small>
<em>(Default: <code>true</code>)</em> -
Whether user can use up/down arrow keys inside the hours &amp; minutes input to increase or decrease its values.</p>
</li>
<li><p><code>hour-step</code>
<small class="badge">$</small>
<small class="badge">C</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>1</code>)</em> -
Number of hours to increase or decrease when using a button.</p>
</li>
<li><p><code>max</code>
<small class="badge">$</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>undefined</code>)</em> -
Maximum time a user can select.</p>
</li>
<li><p><code>meridians</code>
<small class="badge">$</small>
<small class="badge">C</small>
<em>(Default: <code>null</code>)</em> -
Meridian labels based on locale. To override you must supply an array like <code>[&#39;AM&#39;, &#39;PM&#39;]</code>.</p>
</li>
<li><p><code>min</code>
<small class="badge">$</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>undefined</code>)</em> -
Minimum time a user can select</p>
</li>
<li><p><code>minute-step</code>
<small class="badge">$</small>
<small class="badge">C</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>1</code>)</em> -
Number of minutes to increase or decrease when using a button.</p>
</li>
<li><p><code>mousewheel</code>
<small class="badge">$</small>
<small class="badge">C</small>
<em>(Default: <code>true</code>)</em> -
Whether user can scroll inside the hours &amp; minutes input to increase or decrease its values.</p>
</li>
<li><p><code>ng-disabled</code>
<small class="badge">$</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>false</code>)</em> -
Whether or not to disable the component.</p>
</li>
<li><p><code>ng-model</code>
<small class="badge">$</small>
<i class="glyphicon glyphicon-eye-open"></i> -
Date object that provides the time state.</p>
</li>
<li><p><code>pad-hours</code>
<small class="badge">$</small>
<em>(Default: true)</em> -
Whether the hours column is padded with a 0.</p>
</li>
<li><p><code>readonly-input</code>
<small class="badge">$</small>
<small class="badge">C</small>
<em>(Default: <code>false</code>)</em> -
Whether user can type inside the hours &amp; minutes input.</p>
</li>
<li><p><code>second-step</code>
<small class="badge">$</small>
<small class="badge">C</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>1</code>)</em> -
Number of seconds to increase or decrease when using a button.</p>
</li>
<li><p><code>show-meridian</code>
<small class="badge">$</small>
<small class="badge">C</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>true</code>)</em> -
Whether to display 12H or 24H mode.</p>
</li>
<li><p><code>show-seconds</code>
<small class="badge">$</small>
<small class="badge">C</small>
<i class="glyphicon glyphicon-eye-open"></i>
<em>(Default: <code>false</code>)</em> -
Show seconds input.</p>
</li>
<li><p><code>show-spinners</code>
<small class="badge">$</small>
<small class="badge">C</small>
<em>(Default: <code>true</code>)</em> -
Show spinner arrows above and below the inputs.</p>
</li>
<li><p><code>tabindex</code>
<em>(Defaults: <code>0</code>)</em> -
Sets tabindex for each control in the timepicker.</p>
</li>
<li><p><code>template-url</code>
<small class="badge">C</small>
<em>(Defaults: <code>uib/template/timepicker/timepicker.html</code>)</em> -
Add the ability to override the template used on the component.</p>
</li>
</ul>
<p><strong>Notes</strong></p>
<p>This component makes no claims of absolutely supporting the preservation of dates in all cases, and it is highly recommended that model tracking of dates is encapsulated in a different object. This component should not be used with the same model as the datepicker. This is due to edge cases with situations such as Daylight Savings timezone changes which require a modification of the date in order to prevent an impossible to increment or decrement situation. See <a href="https://github.com/angular-ui/bootstrap/issues/5485">#5485</a> for details.</p>
<p>If the model value is updated (i.e. via <code>Date.prototype.setDate</code>), you must update the model value by breaking the reference by <code>modelValue = new Date(modelValue)</code> in order to have the timepicker update.</p>

            
          </div> <!-- end tab-pane -->
        </div> <!-- end tab-content -->
      </div> <!-- end panel-body -->
</div> <!-- end panel -->
  
</div>
</section>